body {
	font-family: "Oswald";
	font-style: normal;
	font-weight: 400;
}


.header {
	position: relative;
	top: 0px;
	left: 0px;
	padding-bottom: 45px;
	/*height: 200px;*/
}

.header h1 {
	float: left;
	line-height: 1;
}

/*.header img {
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}*/

.container {
	margin: 10px;
}

img.topheader {
	/*float:left;*/
	width: 100%;
	height: 100px;
}

h1 {
	font-size: 32px;
	line-height: 73px;
	/*line-height: 2;*/
	margin-bottom: 25px;
	margin-top: 0px;
}
h1, h3 {
	color: #218D94;
}
h1 small {
	font-family: "Open Sans";
}
h3 {
	margin-top: 30px;
	margin-bottom: 10px;
}
.top-pad {
	margin-top: 20px;
}
.mt30 {
	margin-top: 30px;
}
p, li {
	 font-family: "Open Sans";
	 font-size: 17px;
	 line-height: 26px;
	 /*margin-bottom: 35px;*/
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
	background-color: #218D94;
}
.nav>li>a:hover, .nav>li>a:focus {
	background-color: #44D3DC;
}
a:hover, a:focus {
	color: #218D94;
}

.footer {
	/*position: absolute;*/
	bottom: 0px;
	height:95px;
	width: 100%;
	background-image: url();
	background-image: url('../img/bottom_vector.png');
	background-repeat: no-repeat;
	background-position: right bottom;
    /*background-position:right;*/
}

.practice_information {
	font-weight: 100;
}
.practice_information i {
	font-weight: bold;
	font-size: 12px;
	color: #44D3DC;
}
address, phone {
	display: inline;
}

footer img {
	float:right;
	z-index: -9999;
}
.text-muted {
	font-size: 10px;
}